html {
  color-scheme: dark light;
  font-size: 75%;

  @media screen and (width > 480px) {
    font-size: 87.5%;
  }
  @media screen and (width > 768px) {
    font-size: 100%;
  }
  @media screen and (width > 992px) {
    font-size: 112.5%;
  }
  @media screen and (width > 1278px) {
    font-size: 125%;
  }

  @media (prefers-reduced-motion: no-preference) {
    scroll-behavior: smooth;
  }
}

* {
  margin: 0;
  padding: 0;

  &,
  &::before,
  &::after {
    box-sizing: border-box;
  }
}

:root {
  --base-fs: 1rem;
  --base-padding: 0.5em;
  --base-margin: 0.5em;
  --base-br: 20px;
  --base-lh: 1.5;
  --base-gap: 0.5em;

  /* Font Weights */
  --fw-light: 300;
  --fw-regular: 400;
  --fw-medium: 500;
  --fw-semi: 600;
  --fw-bold: 700;
  --fw-xbold: 800;
  --fw-black: 900;

  /* Font Stacks */
  --fs-inter: "Inter", serif;
  --fs-ubuntu: "Ubuntu", sans-serif;

  /* Colors */
  --hue: 300;
  --swatch-1: oklch(98% 0.05 var(--hue));
  --swatch-2: oklch(88% 0.1 var(--hue));
  --swatch-3: oklch(80% 0.2 var(--hue));
  --swatch-4: oklch(72% 0.25 var(--hue));
  --swatch-5: oklch(67% 0.31 var(--hue));
  --swatch-6: oklch(50% 0.27 var(--hue));
  --swatch-7: oklch(36% 0.2 var(--hue));
  --swatch-8: oklch(25% 0.25 var(--hue));
  --swatch-9: oklch(15% 0.15 var(--hue));
  --swatch-10: oklch(5% 0.075 var(--hue));

  /* WEBSITE DARK MODE COLORS */
  --text-1: var(--swatch-1);
  --text-2: var(--swatch-2);
  --body-bg: var(--swatch-10);
  --card-bg: var(--swatch-7);
  --card-border: var(--swatch-6);

  /* Video */
  --video-info-bg: var(--swatch-9);
  --video-desc-bg: var(--swatch-9);
  --video-bg: var(--swatch-10);
  --comment-bg: var(--swatch-8);

  /* Button */
}

html,
body {
  block-size: 100%;
}

body {
  font-size: var(--base-fs);
  font-family: var(--fs-inter);
  font-weight: var(--fw-regular);
  line-height: var(--base-lh);
  background-color: var(--body-bg);
}

/* Typography */
:where(h1, h2, h3, h4, h5, h6) {
  color: var(--text-1);

  &:not(h5, h6) {
    line-height: calc(var(--base-lh) * 0.6);
  }
}

:where(p, span, a, li, label) {
  font-size: calc(var(--base-fs) * 1.1);
  color: var(--text-1);
}

a,
small {
  color: var(--text-2);
}

a,
span {
  display: inline-block;
}

a {
  text-decoration: none;
}

iframe,
video,
img,
audio {
  display: block;
}

/* Home Page */
.home-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-auto-rows: auto;
  gap: calc(var(--base-gap) * 3);
  padding-block: calc(var(--base-padding) * 3);

  .card {
    background-color: var(--card-bg);
    padding: var(--base-padding);
    border-radius: calc(var(--base-br) * 0.15);
    border: 1px solid var(--card-border);
    box-shadow: 0 0 5px oklch(50% 0.1 0 / 0.2);
    transition: box-shadow 200ms ease-in-out;

    &:hover {
      box-shadow: 0 5px 8px oklch(0% 0.1 0 / 0.5);
    }

    .card-header {
      inline-size: 100%;
      overflow: hidden;
    }

    .card-header img {
      inline-size: 100%;
      object-fit: cover;
      transition: scale 250ms linear, rotate 250ms linear;

      &:hover {
        scale: 1.25;
        rotate: z -5deg;
      }
    }

    .card-body {
      margin-block-start: calc(var(--base-margin) * 1.5);
      display: flex;
      flex-direction: column;
      gap: var(--base-gap);

      & h4 {
        font-weight: var(--fw-semi);
        line-height: calc(var(--base-lh) * 0.8);
      }
    }

    .video-info {
      display: flex;
      justify-content: space-between;

      & > * {
        font-weight: var(--fw-light);
      }
    }
  }

  @media screen and (width > 768px) {
    padding-inline: calc(var(--base-padding) * 2);

    .card {
      .card-body h4 {
        font-size: calc(var(--base-fs) * 0.8);
      }

      .video-info > p {
        font-size: calc(var(--base-fs) * 0.65);
      }
    }
  }
}

/* Video Page */
.video-wrapper {
  padding: calc(var(--base-padding) * 4) calc(var(--base-padding) * 3);
}

.video-container {
  inline-size: min(720px, 100%);
  margin-inline: auto;
  display: grid;
  grid-template-columns: 1fr;
  gap: calc(var(--base-gap) * 1.5);
}

.video-title h3 {
  font-size: calc(var(--base-fs) * 1.1);
  font-family: var(--fs-ubuntu);
  font-weight: var(--fw-medium);
}

.video-thumbnail > img {
  inline-size: 100%;
  filter: drop-shadow(0 0 3px oklch(30% 0.05 0 / 0.3));
}

.video-channel-info {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .channel-title {
    line-height: calc(var(--base-lh) * 0.5);
    font-size: calc(var(--base-fs) * 0.85);
    font-weight: var(--fw-medium);
  }

  .channel-subscribers {
    font-size: calc(var(--base-fs) * 0.75);
  }
}

.video-likes,
.video-views {
  display: flex;
  gap: calc(var(--base-gap) * 0.75);
  background-color: var(--video-info-bg);
  padding: calc(var(--base-padding) * 0.5) calc(var(--base-padding) * 2);
  border-radius: var(--base-br);

  & p {
    font-size: var(--base-fs);
  }

  & p:first-of-type {
    font-weight: var(--fw-medium);
  }

  & p:last-of-type {
    font-weight: var(--fw-light);
  }
}

.video-description {
  background-color: var(--video-desc-bg);
  padding: calc(var(--base-padding) * 1.25) calc(var(--base-padding) * 1.5);
  border-radius: calc(var(--base-br) * 0.35);
}

.video-tags {
  display: flex;
  flex-wrap: wrap;
  gap: 0 var(--base-gap);
}

.video-comments-container {
  inline-size: min(720px, 100%);
  margin-inline: auto;
  margin-block-start: var(--base-margin);

  & button {
    font-family: var(--fs-ubuntu);
    font-size: calc(var(--base-fs) * 1.1);
    background-color: transparent;
    padding: calc(var(--base-padding) * 0.25);
    border: none;
    color: var(--text-2);
    cursor: pointer;
    margin-block-end: calc(var(--base-margin) * 2);
  }
}

.comments {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: auto;
  gap: var(--base-gap);
  background-color: var(--comment-bg);
  border-radius: calc(var(--base-br) * 0.25);
  padding: var(--base-padding);
}

.comment {
  padding: calc(var(--base-padding) * 0.5) var(--base-padding);
  background-color: var(--video-desc-bg);
}

.author-info {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  margin-block-end: calc(var(--base-margin) * 0.5);
}

.author-info small {
  font-size: calc(var(--base-fs) * 0.7);
}

.comment-label {
  font-size: calc(var(--base-fs) * 0.85);
  word-break: break-all;
}
