html {
  color-scheme: dark light;
  font-size: 75%;

  @media screen and (width > 480px) {
    font-size: 87.5%;
  }
  @media screen and (width > 768px) {
    font-size: 100%;
  }
  @media screen and (width > 992px) {
    font-size: 112.5%;
  }
  @media screen and (width > 1278px) {
    font-size: 125%;
  }

  @media (prefers-reduced-motion: no-preference) {
    scroll-behavior: smooth;
  }
}

* {
  margin: 0;
  padding: 0;

  &,
  &::before,
  &::after {
    box-sizing: border-box;
  }
}

:root {
  --base-fs: 1rem;
  --base-padding: 0.5em;
  --base-margin: 0.5em;
  --base-br: 20px;
  --base-lh: 1.5;
  --base-gap: 0.5em;

  /* Font Weights */
  --fw-light: 300;
  --fw-regular: 400;
  --fw-medium: 500;
  --fw-semi: 600;
  --fw-bold: 700;
  --fw-xbold: 800;
  --fw-black: 900;

  /* Font Stacks */
  --fs-inter: "Inter", serif;

  /* Colors */
}

html,
body {
  block-size: 100%;
}

body {
  font-size: var(--base-fs);
  font-family: var(--fs-inter);
  font-weight: var(--fw-regular);
  line-height: var(--base-lh);
}

/* Typography */
:where(h1, h2, h3, h4, h5, h6) {
  color: var(--heading-color);

  &:not(h5, h6) {
    line-height: calc(var(--base-lh) * 0.6);
  }
}

:where(p, span, a, li, label) {
  font-size: calc(var(--base-fs) * 1.1);
  color: var(--link-color);

  &:not(a) {
    color: var(--text-color);
  }
}

a,
span {
  display: inline-block;
}

iframe,
video,
img,
audio {
  display: block;
}
